.inline-8kb-nodata
  background url("../images/nature-8kb.jpg")

.inline-8kb-data
  background data-uri("../images/nature-8kb.jpg")

.inline-23kb-data
  background data-uri("../images/nature-23kb.jpg")