@import 'nib'

body
  color white
  display flexbox
  box-shadow 2px 2px 2px #000

.inline-1
  background url("../images/nature-8kb.jpg")

.inline-2
  background url("../images/nature-23kb.jpg")

.inline-3
  background url("../images/nature-36kb.jpg")

@import 'ext.css'